<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>three.js webgl - morph target - human</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/bodybrowser.css" rel="stylesheet">
    <link href="stylesheets/fontello.css" type="text/css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <style>
        body {
            color: #000;
            font-family:Monospace;
            font-size:13px;
            text-align:center;

            background-color: #fff;
            margin: 0px;
            overflow: hidden;
        }

        #info {
            position: absolute;
            top: 0px; width: 100%;
            padding: 5px;
        }

        a {
            color: #0af;
        }

        .list-group-item {
            height: 3em;
        }
    </style>
    <!-- JQuery -->
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <!-- Load ScrollTo -->
    <script type="text/javascript" src="javascripts/jquery.scrollTo-1.4.2-min.js"></script>
    <!-- Load LocalScroll -->
    <script type="text/javascript" src="javascripts/jquery.localscroll-1.2.7-min.js"></script>

    <script type="text/javascript" src="javascripts/custom.js"></script>
    <!-- jQuery -->
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="Stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <!-- Local -->
    <script type="text/javascript">
        var o3v = {}; // open-3d-viewer namespace
    </script>

    <!-- Webgl -->
    <script type="text/javascript" src="javascripts/gl-matrix-min.js"></script>
    <script type="text/javascript" src="javascripts/webgl.js"></script>
    <script type="text/javascript" src="javascripts/loader.js"></script>
    <script type="text/javascript" src="javascripts/renderer.js"></script>
    <script type="text/javascript" src="javascripts/webgl_util.js"></script>

    <!-- o3v specific -->
    <script type="text/javascript" src="javascripts/common.js"></script>
    <script type="text/javascript" src="javascripts/models.js"></script>
    <script type="text/javascript" src="javascripts/entities.js"></script>
    <script type="text/javascript" src="javascripts/content.js"></script>
    <script type="text/javascript" src="javascripts/layer.js"></script>
    <script type="text/javascript" src="javascripts/history.js"></script>
    <script type="text/javascript" src="javascripts/layers_ui.js"></script>
    <script type="text/javascript" src="javascripts/gestures.js"></script>
    <script type="text/javascript" src="javascripts/select.js"></script>
    <script type="text/javascript" src="javascripts/label.js"></script>
    <script type="text/javascript" src="javascripts/nav_ui.js"></script>
    <script type="text/javascript" src="javascripts/navigate.js"></script>
    <script type="text/javascript" src="javascripts/input_handler.js"></script>
    <script type="text/javascript" src="javascripts/select.js"></script>
    <script type="text/javascript" src="javascripts/interpolant.js"></script>
    <script type="text/javascript" src="javascripts/opacity.js"></script>
    <script type="text/javascript" src="javascripts/main_ui.js"></script>
    <script type="text/javascript" src="javascripts/render_interface.js"></script>
    <script type="text/javascript" src="javascripts/viewer.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            window.viewer_ = new o3v.Viewer();
        });
    </script>
</head>
<body>
    <div class="navbar-wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                    <h1 class="brand"><a href="home">HumanAnatomy</a></h1>
                    <nav class="pull-right nav-collapse collapse">
                        <ul id="menu-main" class="nav">
                            <li><a title="viewmodels" href="viewmodels">View Models</a>
                            </li>
                            <li><a title="makemodels" href="makemodels">Make Notes</a>
                            </li>
                            <li><a title="bodybrowser" href="bodybrowser">Body Browser</a>
                            </li>
                            <li><a title="logout" href="logout">Logout</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="top" style="position: absolute; width: 20%; height: 100%; left: 0; top: 10%">
        <div style="clear: left;">
            <ul class="list-group">
                <li class="list-group-item" id="li1"></li>
                <li class="list-group-item" id="li2"></li>
                <li class="list-group-item" id="li3"></li>
                <li class="list-group-item" id="li4"></li>
                <li class="list-group-item" id="li5"></li>
            </ul>
        </div>
        <div style="clear: left">
            <ul class="list-group">
                <li class="list-group-item" id="li6"></li>
                <li class="list-group-item" id="li7"></li>
            </ul>
        </div>
    </div>

    <!-- Main View -->

    <!-- Canvas for verifying webgl -->
    <canvas id="gltest" style="display:none"></canvas>

    <!-- Container for labels -->
    <div id="labelcontainer" style="width:0px; height:0px; left:0px; top:0px; position:absolute; z-index:1"></div>

    <div id="opac_idx" style="display:none;left:50%;top:100%;position:absolute;margin-top:-50px;color:#06F;z-index:3;margin-left:-89px"></div>

    <div id="r0" class="indicator"></div>
    <div id="r1" class="indicator"></div>
    <div id="r2" class="indicator"></div>
    <div id="r3" class="indicator"></div>
    <div id="r4" class="indicator"></div>
    <div id="r5" class="indicator"></div>
    <div id="r6" class="indicator"></div>
    <div id="r7" class="indicator"></div>

    <div id="loading-feedback" class="loading-feedback">Loading...</div>

    <!-- Footer-->
    <section id="footer">
        <footer>
            <p>&nbsp;&copy; 2014 HumanAnatomy.</p>
        </footer>
    </section>

    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>

</body>
</html>
