div, article, section, header, footer, nav, li {
    position: relative;
}
body {
    padding-top: 0px;
    background: #f0f0f0;
    color: #312A1E;
    font-size: 100%;
    height: 100%;
    font-family: 'Quattrocento', serif;
}
::-moz-selection {
    background: #f0bf00;
    color: #333;
}
::selection {
    background: #f0bf00;
    color: #333;
}
p {
    font-size: 1em;
    /* 16px */

    line-height: 1.5;
    /* 24px */

    margin: 0 0 1.5em 0;
}
ul, ol {
    font-size: 1em;
    /* 16px */

    line-height: 1.5;
    /* 24px */

    margin: 0 0 1.5em 0;
}
body, input, textarea {} a:link, a:visited {
    color: #F1505A;
}
a:hover, a:active {
    color: #F1505A;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    /* reset default browser weight for our webfonts */

    font-family: 'Patua One', cursive;
}
h1 {
    font-size: 1.5em;
    /* 24px */

    line-height: 1;
    /* 24px */

    margin-top: 1.42em;
    margin-bottom: 0em;
}
h2 {
    font-size: 1.3125em;
    /* 21px */

    line-height: 1.1429;
    /* 24px */

    margin-top: 1.1429em;
    margin-bottom: 0em;
}
h3 {
    font-size: 1.125em;
    /* 18px */

    line-height: 1.3333;
    /* 24px */

    margin-top: 1.3333em;
    margin-bottom: 0em;
}
h4 {
    font-size: 1em;
    /* 16px */

    line-height: 1.5;
    /* 24px */

    margin-top: 1.5em;
    margin-bottom: 0em;
}
h5 {
    font-size: 0.875em;
    /* 14px */

    line-height: 1.7143;
    /* 24px */

    margin-top: 1.7143em;
    margin-bottom: 0em;
}
strong {
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
small {
    font-size: 0.75em;
    /* 12px */

    line-height: 2;
    /* 24px */

    margin-top: 2em;
    margin-bottom: 0em;
}
em {
    font-style: normal;
    font-family: 'Open Sans';
}
.muted {
    color: #A5A5A2;
    font-family: 'Quattrocento', serif;
}
.impressed {
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5),
    /* shadow */

    1px 1px 0 rgba(255, 255, 255, 0.9);
    /* highlight */
}
.more-link {
    font-size: .875em;
    /* 14px */

    margin-top: 1.5em;
    font-family: 'Patua One', cursive;
}
.more-link:link, .more-link:visited {
    color: #f0bf00;
    text-transform: uppercase;
}
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1em;
}
.alignright {
    text-align: right;
}
.alignleft {
    text-align: left;
}
.aligncenter {
    text-align: center;
}
.medium {
    font-weight: normal;
    font-family: 'Quattrocento', serif;
}
/* Nav Bar*/

.navbar-fixed-top .container {
    /* Uncomment to make nav expand full width */
    /*  width: auto; */
}
.navbar .brand {
    margin-left: 0;
    padding: 0;
    margin-top: 1.05em;
}
.navbar .brand a {
    padding: 0;
    color: #fff;
    font-size: 1.75em;
    margin-left: 0;
    font-weight: normal;
    font-family: 'Patua One', cursive;
}
.navbar .brand a:hover {
    text-decoration: none;
    color: #f0bf00;
    transition: color .15s linear;
    -webkit-transition: color .15s linear;
    -moz-transition: color .15s linear;
}
.navbar .brand a:focus {
    outline: none;
}
.navbar-inner {
    min-height: 4.75em;
}
.navbar-inverse .navbar-inner {
    background-repeat: repeat;
    background-color: #0b333f;
    border-color: #f0bf00;
}
.navbar-wrapper {
    overflow: hidden;
    /* No fixed height, will break collapsible nav */
}
#menu-main {
    margin-top: 1.125em;
}
ul#menu-main > li > a {
    font-family: 'Patua One', cursive;
    font-weight: normal;
    font-size: 1em;
    color: #fff;
}
ul#menu-main > li > a:hover {
    background: #f0bf00;
    padding: 9px 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    text-shadow: none;
}
/* Main View */

#contentwrap {
    padding-top: 60px;
}
section#contentwrap {
    padding-bottom: 0;
}
section#contentwrap h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}
section#contentwrap h1:hover {
    text-decoration: none;
    color: #0b333f;
    transition: color .15s linear;
    -webkit-transition: color .15s linear;
    -moz-transition: color .15s linear;
}
section#contentwrap .align {
    text-align: center;
    margin-top: 10px;
    font-size: 6em;
}
/* Footer */

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: #0b333f;
    height: 40px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
}
#footer p {
    font-family: 'Patua One', cursive;
    font-size: 20px;
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 1.35;
    color: #fff;
}
/* Buttons */

.btn {
    font-family: 'Patua One', cursive;
    color: #fff;
    width: 185px;
    height: 20px;
    text-shadow: none;
    font-size: 1.3125em;
    /* 21px */

    padding: 1em 0.5em;
    letter-spacing: 0.05em;
    margin: 4.5em auto 0;
    display: block;
    border: 0;
    text-transform: none;
    background: #f0bf00 !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.btn:link, .btn:visited {
    color: #fff;
}
.btn:hover {
    background: #312A1E !important;
}
.navbar-inverse .btn-navbar {
    width: auto;
    height: auto;
}
/**
 * CSS styles for main UI components of open-3d-viewer
 */

body {
    margin: 0px;
    overflow: hidden;
}
/* Tweaks to jQuery theme */

.ui-widget {
    font-family: arial;
    font-size: 10pt;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: hidden;
    /* prevent horizontal scrollbar */

    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */

    padding-right: 20px;
}
.label_select, .label_select_expandable, .label_pin, .label_pin_expandable {
    position: absolute;
    border-radius: 3px;
    white-space: nowrap;
    font-family: arial, sans-serif;
    font-size: 12px;
    text-align: center;
    background-repeat: no-repeat;
}
.label_select {
    padding: 3px 37px 3px 5px;
    background-image: url('../img/label_pin_and_close.png');
    background-position: right center;
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
    z-index: 5;
}
.label_select_expandable {
    padding: 3px 37px 3px 21px;
    background-image: url('../img/label_expand.png'), url('../img/label_pin_and_close.png');
    background-position: left center, right center;
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
    z-index: 5;
}
.label_pin {
    padding: 3px 21px 3px 5px;
    font-weight: bold;
    background-image: url('../img/label_close.png');
    background-position: right center;
    background-color: #b6dcaa;
    border: 1px solid #000;
    color: #000;
    z-index: 4;
}
.label_pin_expandable {
    padding: 3px 21px 3px 21px;
    font-weight: bold;
    background-image: url('../img/label_expand.png'), url('../img/label_close.png');
    background-position: left center, right center;
    background-color: #b6dcaa;
    border: 1px solid #000;
    color: #000;
    z-index: 4;
}
.help, .help-hidden {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #55CC55;
    border-radius: 7px 7px 7px 7px;
    font-family: arial;
    font-size: 12px;
    left: 100%;
    padding: 7px;
    position: absolute;
    top: 100%;
    z-index: 50;
}
.help {
    margin-left: -395px;
    margin-top: -430px;
    width: 370px;
    display: none;
    opacity: 0.85;
}
.help-hidden {
    display: block;
    margin-left: -175px;
    margin-top: -40px;
    width: 150px;
    opacity: 0.4;
}
.loading-feedback {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    top: 50%;
    font-family: arial;
    font-size: 12px;
    border: 1px solid #55CC55;
    border-radius: 7px 7px 7px 7px;
    text-align: center;
    padding: 7px;
    z-index: 50;
}
.indicator {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #000;
    z-index: 1000;
    border-radius: 5px 5px 5px 5px;
    left: -100px;
    top: -100px;
}
